<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="DataBaseConnection" connectionString="Data Source=MIGUEL\SQLEXPRESS;Initial Catalog=Videoclube;Integrated Security=True;Encrypt=False;" providerName="Microsoft.Data.SqlClient" />
		
	</connectionStrings>
	
</configuration>